name: CI

on:
  pull_request:
    branches:
      - "*"

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.25.1'

      # Checkout backend repo
      - name: Checkout backend repo
        uses: actions/checkout@v4
        with:
          repository: Onyelechie/WorkoutPal-Backend
          path: backend

      # Start Postgres via backend's docker-compose
      - name: Start backend Postgres
        working-directory: backend/src/fitness-db
        run: |
          docker compose up -d
          docker compose ps

      - name: Install dependencies
        run: go mod download

      - name: Build
        run: go build ./src/cmd/api/main.go

      - name: Run tests
        run: go test ./...
